/*
 * Copyright (c) 2019, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

#include "tegra234-soc/tegra234-soc-minimal.dtsi"
#include <dt-bindings/memory/tegra234-smmu-streamid.h>
#include "tegra234-soc-cbb.dtsi"
#include "tegra234-soc/tegra234-soc-memory.dtsi"
#include "tegra234-soc-pcie-fpga.dtsi"

/ {
	aliases {
		i2c3 = &dp_aux_ch1_i2c;
	};

	mc_sid@2c00000 {
		compatible = "nvidia,tegra234-mc-sid";
		reg = <0x0 0x02c00000 0x0 0x00010000>; /* MC_SID_BASE */
		status = "disabled";
	};

	smmu: iommu@12000000 {
		compatible = "arm,mmu-500";

		reg = <0 0x12000000 0 0x1000000>,
		      <0 0x11000000 0 0x1000000>,
		      <0 0x10000000 0 0x1000000>;

		#global-interrupts = <1>;
		interrupts = <0 170 4>,
			     <0 170 4>,
			     <0 232 4>,
			     <0 240 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>,
			     <0 170 4>;
		stream-match-mask = <0x7F80>;
		input-address-size = <39>; /* Used by K4.14 only */
		#iommu-cells = <1>;
		iso-smmu-id = <2>;

		status = "disabled";
	};

	miscreg@00100000 {
		compatible = "nvidia,tegra186-miscreg";
		reg = <0x0 0x00100000 0x0 0xf000>, /* Chipid */
		      <0x0 0x0010f000 0x0 0x1000>; /* Straps */
		status = "disabled";
	};

	dp_aux_ch1_i2c: i2c@3190000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "nvidia,tegra194-i2c";
		reg = <0x0 0x3190000 0x0 0x100>;
		nvidia,hw-instance-id = <0x3>;
		interrupts = <0 TEGRA194_IRQ_I2C4 0x04>;
		status = "disabled";
		clock-frequency = <100000>;
	};

	nvdisplay@13800000 {
		compatible = "nvidia,tegra234-display";
		reg-names = "nvdisplay", "dpaux0", "dpaux1";
		reg = <0x0 0x13800000 0x0 0xEFFFF  /* nvdisplay */
		       0x0 0x155C0000 0x0 0xFFFF   /* dpaux0 */
		       0x0 0x155D0000 0x0 0xFFFF>; /* dpaux1 */
		interrupt-names = "nvdisplay", "dpaux0", "dpaux1";
		interrupts = <0 416 4
			      0 419 4
			      0 420 4>;
		status = "disabled";
		iommus = <&smmu TEGRA_SID_NVDISPLAY>;
		iso-smmu;
		non-coherent;
	};

	rce-en@BE00000 {
		compatible = "nvidia,tegra234-RCE-EN";
		status = "disabled";
	};

	sce-en@B600000 {
		compatible = "nvidia,tegra234-SCE-EN";
		status = "disabled";
	};

        reserved-memory {
                grid-of-semaphores {
                        /delete-property/ cvdevs;
                };
        };
};
