/*
 * Copyright (c) 2019-2020, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

#include "tegra234-soc/tegra234-soc-minimal.dtsi"
#include <dt-bindings/memory/tegra234-smmu-streamid.h>
#include "tegra234-soc-cbb.dtsi"
#include "tegra234-soc/tegra234-soc-memory.dtsi"
#include "tegra234-soc-pcie-fpga.dtsi"
#include <dt-bindings/gpio/tegra234-gpio.h>
#include <dt-bindings/mailbox/tegra186-hsp.h>
#include "tegra234-soc-gpcdma.dtsi"
#include <dt-bindings/clock/tegra234-clock.h>
#include <dt-bindings/clock/tegra194-clock.h>
#include <dt-bindings/reset/tegra234-reset.h>
#include "dt-bindings/soc/tegra234-powergate.h"
#include "tegra234-soc/tegra234-soc-sdhci.dtsi"
#include "tegra234-soc-pmc.dtsi"
#include "tegra234-soc-i2c.dtsi"
#include "tegra234-soc-ufshc.dtsi"
#include <dt-bindings/interconnect/tegra_icc_id.h>

/ {
	aliases {
		host1x = &host1x;
	};

#if TEGRA_BPMP_FW_DT_VERSION <= DT_VERSION_1
	bpmp_clks: clock@0 {
		compatible = "nvidia,tegra-bpmp-clks";
		reg = <0x0 0x0 0x0 0x0>;
		#clock-cells = <1>;
		status = "disabled";
	};

	bpmp_resets: bpmp_reset@0 {
		compatible = "nvidia,bpmp-resets";
		reg = <0x0 0x0 0x0 0x0>;
		#reset-cells = <1>;
		status = "disabled";
	};
#endif

	miscreg@00100000 {
		compatible = "nvidia,tegra194-misc", "nvidia,tegra186-miscreg";
		reg = <0x0 0x00100000 0x0 0xf000>, /* Chipid */
		      <0x0 0x0010f000 0x0 0x1000>; /* Straps */
		status = "disabled";
	};

	hsp_top: tegra-hsp@3c00000 {
		compatible = "nvidia,tegra186-hsp";
		reg = <0x0 0x03c00000 0x0 0x000a0000>;
		interrupts =	<0 176 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_0 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_1 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_2 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_3 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_4 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_5 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_6 0x4>,
				<0 TEGRA194_IRQ_TOP0_HSP_SHARED_7 0x4>;
		interrupt-names = "doorbell",
				"shared0", "shared1", "shared2", "shared3",
				"shared4", "shared5", "shared6", "shared7";
		nvidia,mbox-ie;
		status = "disabled";
	};

#if TEGRA_BPMP_FW_DT_VERSION >= DT_VERSION_2
	/* TODO: current version of pre-silicon platforms use still sysram for messaging
	* between BPMP and kernel. In future, this will need to move. */
	sysram@40000000 {
		compatible = "nvidia,tegra194-sysram", "mmio-sram";
		reg = <0x0 0x40000000 0x0 0x50000>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x0 0x40000000 0x50000>;

		cpu_bpmp_tx: shmem@4e000 {
			compatible = "nvidia,tegra194-bpmp-shmem";
			reg = <0x4e000 0x1000>;
			label = "cpu-bpmp-tx";
			pool;
		};

		cpu_bpmp_rx: shmem@4f000 {
			compatible = "nvidia,tegra194-bpmp-shmem";
			reg = <0x4f000 0x1000>;
			label = "cpu-bpmp-rx";
			pool;
		};
	};

	bpmp: bpmp {
		compatible = "nvidia,tegra234-bpmp", "nvidia,tegra186-bpmp";
		mboxes = <&hsp_top TEGRA_HSP_MBOX_TYPE_DB
				   TEGRA_HSP_DB_MASTER_BPMP>;
		shmem = <&cpu_bpmp_tx &cpu_bpmp_rx>;
		#clock-cells = <1>;
		#reset-cells = <1>;
		#power-domain-cells = <1>;

		pwr_i2c: i2c {
			compatible = "nvidia,tegra186-bpmp-i2c";
			nvidia,bpmp-bus-id = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		bpmpthermal {
			compatible = "nvidia,tegra186-bpmp-thermal";
			#thermal-sensor-cells = <1>;
			status = "disabled";
		};
	};
#else
	bpmp: bpmp {
		compatible = "nvidia,tegra186-bpmp";
		iommus = <&smmu TEGRA_SID_BPMP>;
		dma-coherent;
		reg = <0x0 0x0d000000 0x0 0x00800000>,
		      <0x0 0x4004e000 0x0 0x00001000>,
		      <0x0 0x4004f000 0x0 0x00001000>;
		status = "disabled";
		#power-domain-cells = <1>;
		#strap-cells = <1>;
		#nvidia,controller-id-cells = <1>;

		bpmpthermal {
			compatible = "nvidia,tegra186-bpmp-thermal";
			#thermal-sensor-cells = <1>;
			status = "disabled";
		};
	};
#endif

	efuse@3810000 {
		compatible = "nvidia,tegra194-efuse";
		reg = <0x0 0x03810000 0x0 0x600>;
		clocks = <&bpmp_clks TEGRA234_CLK_FUSE>,
		         <&bpmp_clks TEGRA234_CLK_CLK_M>;
		clock-names = "fuse", "clk_m";
		status = "disabled";
		efuse-burn {
			compatible = "nvidia,tegra194-efuse-burn";
			clocks = <&bpmp_clks TEGRA234_CLK_CLK_M>;
			clock-names = "clk_m";
			status = "disabled";
		};
	};

	kfuse@3830000 {
		compatible = "nvidia,tegra194-kfuse";
		reg = <0x0 0x3830000 0x0 0x10000>;
		clocks = <&bpmp_clks TEGRA234_CLK_KFUSE>;
		clock-names = "kfuse";
		status = "disabled";
	};

	se: se_ahb@3ae0000 {
		compatible = "nvidia,tegra234-se-ahb";
		reg = <0x0 0x03ae0000 0x0 0x10000>;
		interrupts = <0 283 0x04>;
		clocks = <&bpmp_clks TEGRA234_CLK_SE>;
		clock-names = "se";
		status = "disabled";
	};

	host1x: host1x@13e00000 {
		compatible = "nvidia,tegra234-host1x", "simple-bus";
		reg = <0x0 0x13e40000 0x0 0x00010000>,
		      <0x0 0x13e10000 0x0 0x00010000>,
		      <0x0 0x13ef0000 0x0 0x00040000>,
		      <0x0 0x60000000 0x0 0x04000000>,
		      <0x0 0x13e00000 0x0 0x00010000>;
		reg-names = "guest", "hypervisor", "actmon", "sem-syncpt-shim",
			"common";
		interrupts = <0 448 0x04>,
			     <0 263 0x04>;
		nvidia,ignore-dt-update;
		wakeup_capable;
		clocks = <&bpmp_clks TEGRA234_CLK_HOST1X>,
			 <&bpmp_clks TEGRA234_CLK_ACTMON>;
		clock-names = "host1x", "actmon";
		nvidia,vmid = <1>;

		iommus = <&smmu TEGRA_SID_HC>,
			 <&smmu TEGRA_SID_HC_VM0>,
			 <&smmu TEGRA_SID_HC_VM1>,
			 <&smmu TEGRA_SID_HC_VM2>,
			 <&smmu TEGRA_SID_HC_VM3>,
			 <&smmu TEGRA_SID_HC_VM4>,
			 <&smmu TEGRA_SID_HC_VM5>,
			 <&smmu TEGRA_SID_HC_VM6>,
			 <&smmu TEGRA_SID_HC_VM7>;
		dma-coherent;

		#address-cells = <2>;
		#size-cells = <2>;

		ranges;

		host1x_ctx0: ctx0 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX0>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx1: ctx1 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX1>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx2: ctx2 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX2>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx3: ctx3 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX3>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx4: ctx4 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX4>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx5: ctx5 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX5>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx6: ctx6 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX6>;
			dma-coherent;
			status = "disabled";
		};

		host1x_ctx7: ctx7 {
			compatible = "nvidia,tegra186-iommu-context";
			iommus = <&smmu TEGRA_SID_HOST1X_CTX7>;
			dma-coherent;
			status = "disabled";
		};

		tsec@15500000 {
			compatible = "nvidia,tegra234-tsec";
			reg = <0x0 0x15500000 0x0 0x00040000>;
			resets = <&bpmp_resets TEGRA234_RESET_TSEC>;
			clocks = <&bpmp_clks TEGRA234_CLK_TSEC>,
				 <&bpmp_clks TEGRA234_CLK_FUSE>;
			clock-names = "tsec", "efuse";

			iommus = <&smmu TEGRA_SID_TSEC>;
			dma-coherent;
		};

		se@15810000 {
			compatible = "nvidia,tegra234-se1-nvhost";
			reg = <0x0 0x15810000 0x0 0x10000>;
			nvidia,io-coherent;
			opcode_addr = <0x1004>;
			resets = <&bpmp_resets TEGRA234_RESET_SE>;
			clocks = <&bpmp_clks TEGRA234_CLK_SE>;
			clock-names = "se";

			iommus = <&smmu TEGRA_SID_SE>;
			dma-coherent;

			status = "disabled";
		};

		se@15820000 {
			compatible = "nvidia,tegra234-se2-nvhost";
			reg = <0x0 0x15820000 0x0 0x10000>;
			supported-algos = "aes", "cmac", "xts";
			nvidia,io-coherent;
			opcode_addr = <0x2004>;
			resets = <&bpmp_resets TEGRA234_RESET_SE>;
			clocks = <&bpmp_clks TEGRA234_CLK_SE>;
			clock-names = "se";

			iommus = <&smmu TEGRA_SID_SE1>;
			dma-coherent;

			status = "disabled";
		};

		se@15840000 {
			compatible = "nvidia,tegra234-se4-nvhost";
			reg = <0x0 0x15840000 0x0 0x10000>;
			supported-algos = "sha";
			nvidia,io-coherent;
			opcode_addr = <0x4004>;
			resets = <&bpmp_resets TEGRA234_RESET_SE>;
			clocks = <&bpmp_clks TEGRA234_CLK_SE>;
			clock-names = "se";

			iommus = <&smmu TEGRA_SID_SE2>;
			dma-coherent;

			status = "disabled";
		};
	}; // host1x@13e00000

	display@13800000 {
		compatible = "nvidia,tegra234-display";
		power-domains = <&bpmp TEGRA234_POWER_DOMAIN_DISP>;
		nvidia,num-dpaux-instance = <1>;
		reg-names = "nvdisplay", "dpaux0", "hdacodec";
		reg = <0x0 0x13800000 0x0 0xEFFFF    /* nvdisplay */
		       0x0 0x155C0000 0x0 0xFFFF     /* dpaux0 */
		       0x0 0x0242c000 0x0 0x1000>;   /* hdacodec */
		interrupt-names = "nvdisplay", "dpaux0", "hdacodec";
		interrupts = <0 416 4
			      0 419 4
			      0  61 4>;
		clocks = <&bpmp_clks TEGRA234_CLK_NVDISPLAYHUB>,
			 <&bpmp_clks TEGRA234_CLK_NVDISPLAY_DISP>,
			 <&bpmp_clks TEGRA234_CLK_NVDISPLAY_P0>,
			 <&bpmp_clks TEGRA234_CLK_NVDISPLAY_P1>,
			 <&bpmp_clks TEGRA234_CLK_DPAUX>,
			 <&bpmp_clks TEGRA234_CLK_FUSE>;
		clock-names = "display_hub_clk",
			      "display_disp_clk",
			      "display_p_clk0",
			      "display_p_clk1",
			      "dpaux0_clk",
			      "fuse_clk";
		resets = <&bpmp_resets TEGRA234_RESET_NVDISPLAY>,
			 <&bpmp_resets TEGRA234_RESET_DPAUX>;
		reset-names = "nvdisplay_reset",
			      "dpaux0_reset";
		status = "disabled";
		iommus = <&smmu TEGRA_SID_NVDISPLAY>;
		iso-smmu;
		non-coherent;
	};

	rce-en@BE00000 {
		compatible = "nvidia,tegra234-RCE-EN";
		status = "disabled";
	};

	sce-en@B600000 {
		compatible = "nvidia,tegra234-SCE-EN";
		status = "disabled";
	};

        reserved-memory {
                grid-of-semaphores {
                        /delete-property/ cvdevs;
                };
        };

	tegra_main_gpio: gpio@2200000 {
		compatible = "nvidia,tegra234-gpio";
		reg-names = "security", "gpio";
		reg =	<0x0 0x2200000 0x0 0x10000>,
			<0x0 0x2210000 0x0 0x10000>;
		interrupts =
			<0 TEGRA194_IRQ_GPIO0_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_3 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_4 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_5 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_6 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO0_7 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_3 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_4 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_5 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_6 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO1_7 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_3 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_4 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_5 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_6 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO2_7 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_3 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_4 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_5 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_6 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO3_7 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_3 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_4 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_5 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_6 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO4_7 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_3 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_4 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_5 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_6 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_GPIO5_7 IRQ_TYPE_LEVEL_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		status = "disabled";
	};

	tegra_aon_gpio: gpio@c2f0000 {
		compatible = "nvidia,tegra234-gpio-aon";
		reg-names = "security", "gpio";
		reg = 	<0x0 0xc2f0000 0x0 0x1000>,
			<0x0 0xc2f1000 0x0 0x1000>;
		interrupts =
			<0 TEGRA194_IRQ_AON_GPIO_0 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_AON_GPIO_1 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_AON_GPIO_2 IRQ_TYPE_LEVEL_HIGH>,
			<0 TEGRA194_IRQ_AON_GPIO_3 IRQ_TYPE_LEVEL_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		status = "disabled";
        };

	sdmmc4: sdhci@3460000 { /* Used for eMMC */
		status = "okay";
	};

	sdmmc1: sdhci@3400000 {
		/delete-property/ pinctrl-names;
		/delete-property/ pinctrl-0;
		/delete-property/ pinctrl-1;
		nvidia,voltage-switch-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(Q, 7) 0>;
		cd-gpios = <&tegra_main_gpio TEGRA234_MAIN_GPIO(G, 7) 0>;
		status = "okay";
	 };

	 tegra_ufs: ufshci@2500000 {
		status = "okay";
	};
};

