config NVSCIC2C
	tristate "Chip to Chip support"
	depends on TEGRA_HV_MANAGER
	default n
	help
	C2C support in tegra linux is achieved with C2C server.
	This kernel module exposes C2C channels as device nodes
	to user space. User space application can use these device
	nodes to fetch channel information.

	Select Y to enable nvscic2c support built into kernel
	or select M to enable nvscic2c support as loadable module.
