config ARCH_TEGRA_23x_SOC
	bool "Tegra 23x family SOC (Downstream options)"
	select PINCTRL
	default n
	help
	  NVIDIA Tegra Downstream options for 23x family of SoCs

config TEGRA_5G_LDPC
	tristate "NVIDIA Tegra Option for 5G-LDPC module"
	depends on ARCH_TEGRA_23x_SOC
	default n
	help
	  Enable NVIDIA Tegra Option for 5G-LDPC module

config TEGRA_PSC
	tristate "NVIDIA Tegra Option for PSC module"
	depends on ARCH_TEGRA_23x_SOC
	default y
	help
	  Enable NVIDIA Tegra Option for platform security controller
