#DEBUG CONFIGS
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_PM_DEBUG=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_UBSAN=y
CONFIG_DEBUG_MUTEX=y
CONFIG_TEGRA_HV_XHCI_DEBUG=y
CONFIG_TEGRA_PM_DEBUG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_EFI=y

